@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@theme {
  /* Light theme (default) */
  --color-background: #e3d095;
  --color-accent: #483aa0;
  --color-primary: #7965c1;
  --color-secondary: #483aa0;
  --color-text-primary: #0e2148;

  /* Custom fonts */
  --font-inter: "Inter", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
}

/* Dark theme */
.dark {
  --color-background: #0e2148;
  --color-accent: #e3d095;
  --color-primary: #0e2148;
  --color-secondary: #0e2148;
  --color-text-primary: #e3d095;
}

/* Light theme explicit */
.light {
  --color-background: #e3d095;
  --color-accent: #483aa0;
  --color-primary: #7965c1;
  --color-secondary: #483aa0;
  --color-text-primary: #0e2148;
}

/* Loading animation */
.loading-animation {
  animation: loading 1s linear infinite;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.wave-smooth-left {
  clip-path: polygon(
    20% 0%,
    100% 0%,
    100% 100%,
    22% 100%,
    12% 96%,
    18% 88%,
    12% 80%,
    18% 72%,
    12% 64%,
    18% 56%,
    12% 48%,
    18% 40%,
    12% 32%,
    18% 24%,
    12% 16%,
    18% 8%,
    12% 4%
  );
}
